body {
  background: #f2f2f2;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

main {
  background: white;
  border: 5px solid #ffcb05;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.pokemon_image {
  width: 200px;
  height: 200px;
}

.pokemon_data {
  font-size: 1rem;
  margin: 10px 0;
  color: #2a75bb;
}

.input_search {
  width: 100%;
  padding: 10px;
  font-size: 0.75rem;
  border: 2px solid #2a75bb;
  border-radius: 10px;
  outline: none;
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  padding: 10px;
  background-color: #2a75bb;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #3b9cdb;
}

footer {
  position: absolute;
  bottom: 10px;
  font-size: 0.5rem;
  color: #555;
  text-align: center;
  width: 100%;
  font-family: Arial, sans-serif;
}
